<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>CRUD com Python</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Formulário de Pedido</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <a href="/form" class="btn btn-success">Adicionar Item ao Pedido</a>

    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <form method="get">
          <input type="text" id="search" name="search" class="form-control" placeholder="Buscar...">
      </form>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Produto</th>
                <th scope="col">Unid</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Data do Pedido</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody id='tabela-produtos'>
              {% for dbs in db %}
                <tr>
                  <td>{{dbs.nome}}</td>
                  <td>{{dbs.unid}}</td>
                  <td>{{dbs.qtde}}</td> 
                  <td>{{dbs.data}}</td> 
                <td>
                  <a href="/view/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
                  <a href="/edit/{{dbs.id}}/" class="btn btn-primary">Editar</a>
                  <a href="/delete/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
                </td>
              </tr>

            {% endfor %}
            </tbody>

          </table>


          <div class="col-8 m-auto pt-3 pb-2 text-center">
            <a href="/fechapedido" class="btn btn-secondary">Fecha Pedido</a>
          </div>
    </div>
                  
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>

</body>
</html>